*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.font-size-12{
    font-size: 12px;
    font-weight: 100;
}
/* HEADER */
header{
    background-color: #f3f0f0;
    width: 100%;
    height: 60px;
}

.logo-height{
    height: 45px;
}

/* SEARCH BAR */
.search-bar i{
    padding-right: 15px;  
}

.search-bar{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(216, 215, 215);
    border-radius: 10px;
}

.search-bar-input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-bar-input::placeholder{
    font-size: 14px;
}

.fa-bell{
    color: orange;
}

/* MENU HEADER */
.header-menu{
    height: 100%;
    width: 100%;
    display: flex;
}

.manu-list{
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.manu-list li{
   margin: 5px;
}
/* MAIN  */
main{
    height: 100%;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* SIDEBAR  */
main .sidebar{
    width: 50px;
    height: 100%;
    background-color: rgb(3, 23, 50);
    display: flex;
}

.sidebar .fa-gear{
    display: flex;
    flex-direction: end;
}

.sidebar .link-style{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.list-content:hover{
    background-color: rgba(128, 128, 128, 0.216);
}

/* TOPBAR  */
main .topbar{
    height: 230px;
    width: 100%;
    background-color: #1b72e8;
}

.background-light{
    background-color: rgba(0, 0, 0, 0.164); 
}

.style-badge{
    border-radius: 20px;
    font-size: 13px;
    margin: 8px;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0.164); 
}

.border-col{
    height: 35px;
}

/* MAIN CONTENT */
.fa-code{
    background-color: orangered;
    padding: 6px;
    font-size: 15px;
    border-radius: 50%;
    color: white;
}

.badge-done, .badge-falled, .badge-process{
    background-color: green;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    font-size: 10px;
}

.badge-falled{
    background-color: rgb(225, 41, 0);
}

.badge-process{
    background-color: rgb(255, 170, 0);
}

.content-main{
    
}

@media screen and (min-width:992px){
    
main .sidebar{
    width: 120px;
    height: 100%;
}

.search-bar{
    margin: 0;
}

}

@media screen and (min-width:768px){
 
    main .topbar{
        height: 120px;
        width: 100%;
        background-color: #1b72e8;
    }
    
    .style-badge{
        margin: 12px;
        padding: 2px 10px;
        background-color: rgba(0, 0, 0, 0.164); 
    }
}

@media screen and (min-width:576px){
    
    main .topbar{
        height: 120px;
        width: 100%;
        background-color: #1b72e8;
    }

    .style-badge{
      
        padding: 2px 10px;
        background-color: rgba(0, 0, 0, 0.164); 
    }
}